<mat-card class="card">
  <mat-card-header>
    <mat-card-title>HelpDesk</mat-card-title>
    <mat-card-subtitle>Sistema de Ordens de Serviço</mat-card-subtitle>
  </mat-card-header>
  <img src="assets/img/works.svg" alt="home-imagem">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Debitis aperiam sapiente magnam earum dolor ratione veniam facilis sit laudantium amet?
      Quasi, ipsa libero tenetur provident inventore commodi exercitationem modi dolorem!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione veniam porro sed!
      Asperiores iusto obcaecati deserunt iste nemo itaque libero illo commodi dolorem.
      Asperiores dolorum ad modi reiciendis voluptates libero.
    </p>
  </mat-card-content>
</mat-card>
